.commentsWrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .commentParent {
        width: 700px;
        background-color: #27292D;
        min-height: 200px;
        border: 2px solid #35373B;
        border-radius: 6px;
        padding: 24px 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        
        .profileSection {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: #C5C7CA;

            .leftSection {
                display: flex;
                column-gap: 16px;
                align-items: center;
                img{
                    height: 44px;
                    width: 44px;
                }
                .ownerName {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 4px;
                }

                p {
                    margin: 0;
                    color: #7F8084;
                    font-size: 14px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;

                    .edited {
                        &::before {
                            content: "\2022";
                            display: inline-block;
                            margin: 0 4px;
                            font-size: 16px;
                        }
                    }
                }
            }

        }

        .commentContectSection {
            margin-top: 22px;
            background-color: #191920;
            border-radius: 8px;
            color: #7F8084;
            font-size: 16px;
            line-height: 24px;
            padding: 16px;
            width: -webkit-fill-available;
            display: flex;
            column-gap: 16px;
            .emoticon{
                padding: 16px;
                background: #27292D;
                border-radius: 50%;
                font-size: 18px;
                height: 48px;
                width: 48px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .totalComments {
            color: #7F8084;
            font-size: 14px;
            line-height: 18px;
            margin-top: 14px;
            display: flex;
            align-items: center;
            column-gap: 8px;
        }

        &.createPostClass {
            .ownerName {
                font-size: 18px !important;
                margin-bottom: 0 !important;
            }
            .commentContectSection{
                margin-top: 16px;
                align-items: center;
            }
            .postBtn{
                margin-left: auto;
                color: white;
                background-color: #4A96FF;
                padding: 12px 38px;
                border-radius: 4px;
                margin-top: 16px;
            }
        }
    }
}