@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.outerModal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.fadeIn {
        .coverBackground {
            animation: fade-in 0.5s;
        }

        .innerModal {
            animation: fade-in 0.5s;
        }
    }

    &.fadeOut {
        .coverBackground {
            animation: fade-out 0.5s forwards;
        }

        .innerModal {
            animation: fade-out 0.5s forwards;
        }
    }

    .coverBackground {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        backdrop-filter: blur(3px);
    }

    .innerModal {
        padding: 40px 24px;
        background: #27292D;
        border-radius: 8px;
        border: 2px solid rgba(white, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        min-width: 463px;
        box-sizing: border-box;
        z-index: 1;
        position: relative;

        .subHeading {
            color: #6B6C70;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 8px;
        }

        .heading {
            font-size: 18px;
            line-height: 22px;
        }

        .inputs {
            margin-top: 45px;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            .inputWrap {
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .inputLabel{
                    display: flex;
                    justify-content: space-between;
                    .forgotText{
                        font-size: 12px;
                        cursor: pointer;
                    }
                }

                label {
                    font-size: 14px;
                    line-height: 18px;
                    color: #C5C7CA;
                    margin-bottom: 10px;
                }

                .inputField{
                    position: relative;
                    input {
                        width: 100%;
                        background-color: transparent;
                        height: 43px;
                        border: 1.5px solid #35373B;
                        border-radius: 4px;
                        padding: 12px;
                        box-sizing: border-box;
                        color: white;
    
                        &:focus {
                            outline: none;
                        }
                    }
                    .rightIcon{
                        position: absolute;
                        right: 16px;
                        top: 10px;
                        cursor: pointer;
                    }
                }

            }
        }

        .button {
            color: white;
            background-color: #4A96FF;
            padding: 12px;
            border-radius: 4px;
            margin: 20px 0 12px;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
        }

        .switcherText {
            margin-right: auto;
            font-size: 14px;
            color: #7F8084;
            cursor: pointer;

            span {
                color: white;
                text-transform: capitalize;
                cursor: pointer;
            }
        }
        
        .closeBtn{
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
        }
    }
}